body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a{
  color: white;
   
   
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input{
  padding: 20px 40px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

#supportHero .col-6 a {
  display: inline-block;
  margin-right: 20px;
  margin-top: 15px;
  color: white;
  text-decoration: underline;
  
}












#supportHero{
    background-color: #387ed1;
    color: white;
}

#supportWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

#supportWrapper a{
    color: white;
     
}

#supportHero .row{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
}

#supportHero .col-6:last-child{
    padding-left: 150px !important;
    text-decoration: underline;
    padding-top: 40px;
}






/* Signup & Login Center Form */
.auth-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.auth-form {
  width: 350px;
  padding: 35px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;
  gap: 15px;
}


.auth-form h2 {
  text-align: center;
}


.auth-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}


.auth-form button {
  padding: 12px;
  background: #387ed1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}